<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div layout:fragment="content" class="container mt-4">
        <div class="container">
            <h1>Quản lý kho thiết bị IT</h1>
            <hr>
            <div class="mb-3">
                <a th:href="@{/admin/dashboard}" class="btn btn-info text-white">Xem yêu cầu mượn</a>
                <a th:href="@{/admin/add-page}" class="btn btn-success">+ Thêm thiết bị mới</a>
            </div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Ảnh</th>
                    <th>ID</th>
                    <th>Tên thiết bị</th>
                    <th>Loại</th>
                    <th>Số lượng tồn</th>
                    <th>Hành động</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${items}">
                    <td class="align-middle">
                        <img th:src="@{'/display-images/' + ${item.image}}" alt="No image" class="rounded border shadow-sm" style="width: 60px; height: 60px; object-fit: cover;"/>
                    </td>
                    <td th:text="${item.id}"></td>
                    <td th:text="${item.name}"></td>
                    <td th:text="${item.type}"></td>
                    <td th:text="${item.stock}"></td>
                    <td>
                        <a th:href="@{'/admin/delete/' + ${item.id}}" class="btn btn-danger btn-sm">Xóa</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>